{% block content %}  
<div class="fgtpass-container">
    {% include 'message.html' %}
    <form method="POST" >
        {% csrf_token %}
        <label for="newpassword1">New Password</label><br>
        <input name="newpassword1" type="password"><br>
        <label for="newpassword2">Retype new password</label><br>
        <input name="newpassword2" type="password"><br>
        <input type="hidden" name="user_id" value="{{user_id}}"><br>
        <button type="submit">Submit</button>

        
    </form>
</div>
{% endblock %}