{% extends 'index.html' %}

{% block content %}        
        
            
            <form method="POST" action="{% url 'register' %}" id="register-form">
                {% csrf_token %}
                <h3>Register</h3>
                
                <div class="custom-field">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                
                <div class="custom-field">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }} 
                </div>
                
                <div class="custom-field">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {{ form.password1.errors }} 
                </div>
                
                <div class="custom-field">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {{ form.password2.errors }} 
                </div>
                <button type="submit">Register</button>
            </form>
        

{% endblock %}
